.colored {
  color: blue;
}
.listview-wrapper{
  margin: 10px 0;
}
.verse-text {
p{
  padding:0; margin:5px 0;
  
  line-height: 1.5em;
    
  }
  .txt-arabic{
    text-align: right;
    font-weight: bold;
  font-size: 1.2em;
  }
}
.ayah-details{
  font-weight: bold;
  display:block;
  height: auto;
  width: 100%;
  background-color: #e7e7e7;
  padding: 5px;
}
.titles-wrapper{
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  height: 40px;
  background-color: #c4e4ff;
  margin-top: 20px;
  color: #1d1d1d;
  padding: 5px 10px;
  p{
    padding:0; 
    margin:0;
    span{
      font-weight: bold;
    }
  }
}