.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1em; //calc(10px + 2vmin);
  color: white;
}
h1{
  font-size: 1.2em !important;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.content-wrapper{
  padding:20px 15px;
  h2{
    margin: 0; padding:0;
  }
}
.row-flex{
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
}

.basis-80{
  flex-basis: 80%;
}
.no-padding{
  padding:0 !important;
}