.App {
  text-align: center;
  
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1em; //calc(10px + 2vmin);
  color: white;
}
h1{
  font-size: 1.2em !important;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-basis: 100%;
}
.content-wrapper{
  padding:20px 15px;
  //height: calc(100vh - 125px);
  
  
  h2{
    margin: 0; padding:0;
  }
}
.search-wrapper{
  height: calc(100vh - 125px);
  display: flex;
  transition: all 3s;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &.shrink {
    height: auto;
  }
}
.row-flex{
  display: flex;
  flex-direction: row;
  //align-items: stretch;
  //justify-content: center;
}
.col-flex{
  display: flex;
  flex-direction: column;
}
.searchInput-wrapper{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
}
.basis-80{
  flex-basis: 80%;
}
.no-padding{
  padding:0 !important;
}
.error-txt {
  color: red;
  text-align: center;
  width: 100%;
}
.ayah-input-wrapper{
  margin-bottom:10px;
  width: 100%;
  
  >div{
    width:calc(40% - 6px);
    position: relative;
    >label{
      color: #999;
    }
  }
  .surah-button{
    height:30px;
    text-align: right;
    margin-right:10px;
  }
  .surah-name{
    position: absolute;
    top: 23px;
    left: 5px;
    right: 30px;
    bottom: 2px;
    /* background-color: white; */
    color: #1d1d1d;
    font-weight: bold;
  }
  
  .ayah-total{
    position: absolute;
    top: 24px;
    right: 13px;
    background-color: white;
    color: #aaa;
  }
}
.surah-select{
  height:30px;
  width:calc(100% - 10px); //calc(50% - 2px);
  margin:0;
  padding:0;
  border:none 0; //solid 1px #ccc;
  border-right: solid 1px #ccc;
}
.input-ayah{
  height:30px;
  width:calc(100% - 12px);
  padding:0 5px; margin:0;
  border: none 0;
  border-bottom:solid 1px #ccc;
  box-sizing: border-box;
  font-weight: bold;
  font-size:1.1em;
}
.search-btn{
  width:20%;
  margin-left:10px;
  
}

.toggle-btn{
  background-color: transparent;
  border: solid 1px #ccc;
  color: #333;
  margin: 0 3px;
  padding: 5px 8px;
  border-radius: 7px;
  &.selected {
    background-color: #8ebc00; //#333;
    color: #fff;
    border: solid 1px #fff;
  }
}
.trans-wrapper{
  align-self: flex-start;
}
.popup-content {
border-radius: 10px;
}
.surah-wrapper{
  width:100%;    
  border-radius: 5px;
  h3{
    width: 100%;
    text-align:center;
  }
  ul{
  max-height:300px;
  overflow: auto;
    margin:0;padding: 0;
    //padding:10px;
    li{
      list-style: none;
      min-height:30px;
      vertical-align:middle;
      padding:10px;
      cursor: pointer;
      &:nth-child(even){
        background-color:#f6f6f6;
      }
      &:hover{
        background-color:#e7e7e7;
      }
    }
  }
}