.App {
  text-align: center;
  
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color:#5AC7F4; 
  display: flex;
  flex-direction: row;
  align-items: stretch;
  min-height: 40px;
  justify-content: space-between;
  font-size: 1em; 
  color: white;
  vertical-align: middle;
  position: relative;
  padding: 0 10px;
  h1{
    font-size:1.5em !important;
    margin:0;
    padding:0;
  }
}
h1{
  font-size: 1.2em !important;
}
.App-link {
  color: #61dafb;
}
.ayah-nav-wrapper{
  width: 100%;
  align-items: stretch;
  justify-content: space-between;
  border-bottom: solid 1px #ccc;
  padding-bottom:5px;
}
.nav-btn{
  text-decoration: none;
  display: block;
  flex: 0 0 auto; //40px;
  height:30px;
  line-height: 30px;
  text-decoration: none;
  color: #aaa;
  background-color: #fff;
  border: none 0;
  outline: none;
  /*&:focus{
    outline: solid 2px;
  }*/
  &.back{
    background: url(./assets/images/back-arrow.svg) no-repeat left center;
    background-size:auto 80%;
    padding-left: 22px;
    &.disabled{
      background-image: url(./assets/images/back-arrow-dis.svg);
    }
    
  }
  &.next{
    background: url(./assets/images/next-arrow.svg) no-repeat right center;
    background-size:auto 80%;
    padding-right: 22px;
    &.disabled{
      background-image: url(./assets/images/next-arrow-dis.svg);
    }
  }
  &.off{
//    display: none;
    background: none;
    cursor: default;
  }
  
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-basis: 100%;
}
.content-wrapper{
  padding:15px 15px;
  
  h2{
    margin: 0; padding:0;
  }
}
.search-wrapper{
     display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    z-index: 100;
    /* width: 100%; */
    height: 50px;
    position: fixed;
    bottom: 0;
    padding: 5px 10px;
    width: 100%;
    box-sizing: border-box;
    background-color: #333;

//color: #fff;
  &.shrink {
    //height: auto;
  }
}
.row-flex{
  display: flex;
  flex-direction: row;
  //align-items: stretch;
  //justify-content: center;
}
.col-flex{
  display: flex;
  flex-direction: column;
}
.searchInput-wrapper{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
}
.basis-80{
  flex-basis: 80%;
}
.no-padding{
  padding:0 !important;
}
.error-txt {
  color: red;
  text-align: center;
  width: 100%;
}
.share-button {
    width: 35px;
    padding-right: 10px;
    background: url(./assets/images/share-icon.svg) no-repeat right center ;
    background-size: 55% auto;

    text-indent: -99999px;
    border: none 0;
   //border-right: solid 1px rgba(255,255,255, 0.3);
  }
.ayah-input-wrapper{
      /* margin-bottom: 10px; */
    width: 100%;
    height: 100%;

  
  
  .surah-button{
  width: 35px;
    padding-right: 10px;
    background: url(./assets/images/surah-icon.svg) no-repeat left center ;
    background-size: 80% auto;

    text-indent: -99999px;
    border: none 0;
   border-right: solid 1px rgba(255,255,255, 0.3);
    

  }

  
  .surah-name{
        //color: #1d1d1d;
   // font-weight: bold;
    font-size: 1.6em;
    padding: 0 10px;
    margin: 0;
    
    align-self: center;
    //line-height: 1.5em;
    padding-bottom: 5px;

    //border-left: solid 1px #595858;
    color: #999;
    background: url(./assets/images/indicator-right.svg) no-repeat left center;
    background-size: auto 10px;
    

  }
  
  .ayah-input{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    position: relative;
    width: auto;
    flex: 1 1 100%;
  }
  .ayah-total{
    position: absolute;
    top: calc(50% - 17px);
    right: 13px;
    /* background-color: white; */
    color: #666;
    font-size: 1.5em;
  }
}
.surah-select{
  height:30px;
  width:calc(100% - 10px); //calc(50% - 2px);
  margin:0;
  padding:0;
  border:none 0; //solid 1px #ccc;
  border-right: solid 1px #ccc;
}
.input-ayah{
  //height:30px;
  //width:calc(100% - 12px);
  padding:0 10px;
  margin:0;
  border: none 0;
  height: 100%;
  //border-bottom:solid 1px #ccc;
  //box-sizing: border-box;
  font-weight: bold;
  font-size:1.8em;
  background-color: transparent;
  width: 100%;
  align-self: center;
  color: #fff;
  
 // line-height:1.8em;
 &:focus{
   background-color: rgba(0,0,0,0.5);
 }

  &::placeholder{
    color:#666;
    font-size: 0.6em;
    font-weight: normal;
  }
  
}
.app-title{
  
}
.search-btn{
    flex: 0 0 35px;
    padding-left: 10px;
    background-image: url(./assets/images/indicator-right.svg), url(./assets/images/search-icon.svg);
    background-position: left center, right center;
    border: none 0;
    background-repeat: no-repeat, no-repeat;
    background-size: auto 10px, auto 60%;
    text-indent: -99999px;
    border-left: solid 1px rgba(255, 255, 255, 0.3);
    background-color: transparent;

  &.inactive{
    background-image: url(./assets/images/indicator-right.svg), url(./assets/images/search-icon-dis.svg);
  }

}

.align-self-center {
  align-self: center;
}
.margin {
  &.top{
    margin-top:10px;
  }
  &.btm{
    margin-bottom:10px;
  }
  &.lft{
    margin-left:10px;
  }
  &.rte{
    margin-right:10px;
  }
}
.toggle-btn{
  background-color: #fff;
  //border: solid 1px #ccc;
  color: #333;
  margin: 0 3px;
  padding: 5px 8px;
  border-radius: 7px;
  text-decoration: none;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);

  &.selected {
    background-color: #8ebc00; //#333;
    color: #fff;
    border: solid 1px #fff;
  }
}
.trans-wrapper{
  align-self: flex-start;
}
.popup-content {
  border: none !important;
   border-radius: 10px;
   text-align: left !important;
}
.surah-popup-content {
 
  max-width: 300px;
  width: 90% !important;
  border: none 0 !important;
}
.q-audio-player{
    height: 30px;
    width: 100%;
    background-color: #efefef;
}

.popup-wrapper{
  width:100%;    
  border-radius: 5px;
  color: #1d1d1d;
  h3{
    width: 100%;
    text-align:center;
    margin:5px 0;
  }
  ul{
  max-height:300px;
  overflow: auto;
    margin:0;padding: 0;
    //padding:10px;
    li{
      list-style: none;
      min-height:30px;
      vertical-align:middle;
      padding:10px;
      cursor: pointer;
      &:nth-child(even){
        background-color:#f6f6f6;
      }
      &:hover{
        background-color:#e7e7e7;
      }
    }
  }
}

.surahlist-container{
  width:100%;    
  //border-radius: 5px;
  color: #1d1d1d;
  margin-bottom: 50px;
  h3{
    width: 100%;
    text-align:center;
    margin:5px 0;
  }
  ul{
  //max-height:300px;
  overflow: auto;
    margin:0;padding: 0;
    //padding:10px;
    li{
      list-style: none;
      min-height:30px;
      vertical-align:middle;
      padding:10px;
      cursor: pointer;
      &:nth-child(even){
        background-color:#f6f6f6;
      }
      &:hover{
        background-color:#e7e7e7;
      }
    }
  }
  .surah-list-ul {
    li{
      .sayah {
        font-weight: bold;
        text-align: right;
        padding-right: 15px;
        
        
      }
      .sno {
        text-align: right;
        margin:0; padding: 0;
        padding-right: 10px;
      }
      .sname, .sname-ar{
        text-align:right;
        flex: 1 1 100%;
        margin:3px; padding:0;
        
        font-size: 0.9em;
      }
      .sname-ar {
        font-weight: bold;
        font-size: 1.1em;
      }

    }
  }
}
.blue-text {
  color: #2196f3;
  font-weight: bold;
}
.lighter {
  color: #999;
}
.surahname-wrapper {
  text-align: right;
  flex-basis: 100%;
}

.triangle-right {
	  width: 0;
    height: 0;
    position: relative;
    border-top: 20px solid transparent;
    border-left: 8px solid #565656;
    border-bottom: 20px solid transparent;
    .inner {
          position: absolute;
    top: -16px;
    left: -8px;
    border-top: 16px solid transparent;
    border-left: 7px solid #333;
    border-bottom: 18px solid transparent;
    }
}
.share-msg {
  width: 95%;
  align-self: center;
  margin: 0 auto;
}
.titles-wrapper{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center; //flex-start; //space-between;
  //height: 40px;
  background-color: #f6f6f6; //#c4e4ff;
  text-align:center;
 // margin-top: 20px;
  color: #1d1d1d;
  padding: 5px 10px 5px;
  border-bottom: solid 1px #e7e7e7;
  p{
    padding:0; //5px 0; 
    margin:0;
    padding: 5px 0 3px;
    //margin-top:10px;
    //margin-right: 10px;
    &.ayah-nav-text{
      padding: 0;

    }
    .clearer{
      font-weight: bold;
      font-size: 1.2em;
      &.small {
        font-size: 1em;
      }
    }
  }
}
.surah-title{
  margin:0; padding:0;
}
.surah-list-ul{
  li{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    &.list-heads{
      font-weight: bold;
      color: #666;
      font-size:0.9em;
      cursor: default;
      border-bottom: solid 1px #ccc;
      &:hover{
        background-color: transparent;
      
      }
    }
    >*{
      &.sno {
        text-align:left;
        flex: 0 0 40px;
      }
      &.sname{
        text-align:left;
        flex: 1 1 100%;
      }
      &.sayah{
        text-align:center;
        flex: 0 0 50px;
      }
    }
    >p {
      padding:0; 
      margin:0;
       
    }
  }
}
.justify-content-space-between{
  justify-content: space-between !important;
}
.lang-select{
    flex: 0 0 30px; //30px;
    height: 30px;
    width: 230px; //270px;
    align-self: center;
    margin-top:5px;
    //padding-top: 5px;
    position: relative;
    text-align: center;
    justify-content: flex-end;
    
    //visibility: hidden;
    select{
      position: absolute;
      top:0;
      left:0;
      bottom:0;
      width:100%;
      option{
        
        height:30px; 
      }
      &.hide{
        opacity: 0; //visibility: hidden;
      }
      &.show{
        opacity: 1; //visibility: show;
      }
    }
    .select-value-wrapper{
      
      //padding: 0 20px;
      label{
        display: block;
        height: 30px;
        text-align: center;
       // background-color: white;
        color: #999;
        span{
          color: #1d1d1d;
          font-size: 0.9em;
          font-weight: bold;
          background: url('./assets/images/dowpdown.svg') no-repeat right top 7px;
	        background-size: 15px auto;
          padding-right: 22px;
        }
      }
    }
}
.surah-select-wrapper{
  position: relative;
}
.help-bubble{
  position: absolute;
  bottom: calc(100% + 10px);
  width: 100px;
  border: solid 1px #ccc;
  border-radius: 10px;
  padding: 5px;
  p{
    padding:0; margin:0;
  }
  &.left{
    &.bottom{

    }
    &.top{

    }
  }
}
.share-actions{
  border-top: solid 1px #e7e7e7;
  align-items: center;
    justify-content: flex-end;
    padding: 5px 10px;
  p{
    margin:0; padding:0;

  }
}
.social-btn{
  width:30px;
  height:30px;
  margin: 5px 0 5px 10px;
  //position: absolute;
  //right: 10px;
 

}